In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Users/rr/anaconda3/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/rr/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rr/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/rr/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/rr/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/rr/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

# Load the dataset, assuming it's a CSV file
df = pd.read_csv("HumanResources.csv", header=0)  # header=0 means first row as column names

# If the column names are still in the first row, reset them
df.columns = df.iloc[0]  # Set first row as column names
df = df[1:].reset_index(drop=True)  # Drop the first row and reset index

print(df.head())  # Check the first few rows

0 00-95822412;Danielle;Johnson;Female;New York;New York City;High School;13/02/1980;16/04/2016;05/07/2021;Customer Service;Help Desk Technician;81552;Needs Improvement
0  00-42868828;John;Taylor;Male;North Carolina;Ch...
1  00-83197857;Erica;Mcclain;Male;New York;New Yo...
2  00-13999315;Brittany;Johnson;Male;New York;New...
3  00-90801586;Jeffery;Wagner;Female;New York;New...
4  00-97226012;Anna;Baldwin;Female;New York;New Y...

In [5]:
import pandas as pd

# Specify the semicolon as the separator
df = pd.read_csv("HumanResources.csv", sep=';')

# Check the first few rows
print(df.head())

   Employee_ID First Name Last Name  Gender           State           City  \
0  00-95822412   Danielle   Johnson  Female        New York  New York City
1  00-42868828       John    Taylor    Male  North Carolina      Charlotte
2  00-83197857      Erica   Mcclain    Male        New York  New York City
3  00-13999315   Brittany   Johnson    Male        New York  New York City
4  00-90801586    Jeffery    Wagner  Female        New York  New York City

  Education Level   Birthdate    Hiredate    Termdate        Department  \
0     High School  13/02/1980  16/04/2016  05/07/2021  Customer Service
1        Bachelor  22/09/1987  09/02/2017  14/06/2019                IT
2        Bachelor  19/05/1994  03/02/2016  06/03/2021        Operations
3        Bachelor  18/04/1980  06/02/2016  06/11/2018        Operations
4        Bachelor  07/04/1985  11/01/2015         NaN        Operations

               Job Title  Salary Performance Rating
0   Help Desk Technician   81552  Needs Improvement
1   System Administrator  107520               Good
2  Logistics Coordinator   61104               Good
3   Inventory Specialist   73770               Good
4     Operations Analyst   55581       Satisfactory

In [6]:
# Save the cleaned data to a new CSV file
df.to_csv("Cleaned_HumanResources.csv", index=False)

# Confirmation message
print("âœ… File 'Cleaned_HumanResources.csv' saved successfully!")